
.DS_Store
*.pt
*.pkl
*.buggy_only
*.commit_msg
*.fixed_only
*.next_code
*.prev_code
Patch-Dataset/results
Patch-Dataset/tokenized_input
*.json
*.bin
*.model
Evaluation/processesed_tokens
results
*.npy
*.npy
*.npy
*.xml
*.iml
*.npy
*.npy
*.npy
*.npy
*.zip
Evaluation/edit_distances_small_java_java_buggy_only_commit_msg_2
Evaluation/edit_distances_small_java_java_prev_code_2
.idea/.name
Evaluation/edit_distances_small_None_None_fixed_only_fixed_only_5_tfidf
*.docx
*.pdf
Patch-Dataset/small/test/retrieved_small_java_java_buggy_only_buggy_only_5_plbart
Patch-Dataset/small/test/retrieved_small_java_java_buggy_only_buggy_only_1_plbart
Patch-Dataset/small/test/retrieved_small_java_java_buggy_only_buggy_only_5_plbart
Patch-Dataset/small/eval/retrieved_small_java_java_buggy_only_buggy_only_1_plbart
Patch-Dataset/small/eval/retrieved_small_java_java_buggy_only_buggy_only_5_plbart
Patch-Dataset/small/test/retrieved_small_java_java_buggy_only_buggy_only_1_plbart
Patch-Dataset/small/train/retrieved_small_java_java_buggy_only_buggy_only_2_plbart
Patch-Dataset/small/test/retrieved_small_java_java_buggy_only_buggy_only_5_plbart
Patch-Dataset/small/train/retrieved_small_java_java_buggy_only_buggy_only_6_plbart
Patch-Dataset/*
Old-Patch-Dataset/
*.log
*__pycache__*
