
.DS_Store
*.pt
*.pkl
*.buggy_only
*.commit_msg
*.fixed_only
*.next_code
*.prev_code
Patch-Dataset/results
Patch-Dataset/tokenized_input
*.json
*.bin
*.model
Evaluation/processesed_tokens
results
*.npy
*.npy
*.npy
*.xml
*.iml
*.npy
*.npy
*.npy
*.npy
*.zip
Evaluation/edit_distances_small_java_java_buggy_only_commit_msg_2
Evaluation/edit_distances_small_java_java_prev_code_2
.idea/.name
Evaluation/edit_distances_small_None_None_fixed_only_fixed_only_5_tfidf
*.docx
*.pdf
