submitit
torch>=1.5.1
sacrebleu>=1.4.12
tree_sitter==0.2.1
sentencepiece
fairseq==0.10.0
transformers~=4.17.0
numpy~=1.22.3
nltk~=3.7
seaborn~=0.11.2
matplotlib~=3.5.1
pandas~=1.4.1
scikit-learn
gensim>=4.1.2